
*{
    margin: 0;
    padding:0;
}

.pequeñas{
    margin-top: 20px;
    padding: 0 10px;
    border: 1px solid rgb(172, 171, 171);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.momentos{
    margin-top: 5vh;
    margin-left: 2vw;
}
.divimg{
    border: 1px solid rgb(172, 171, 171);
    width: 150px;
    height: 200px;
    margin:20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);;
    overflow: hidden;
    position: relative;
}
.divimg:hover{
    background-color:  rgb(219, 218, 218, 0.2);  
}
.imgg{
    width: 150px;
    position: absolute;
    z-index: -10;
}
.grande{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
    background-color: white;
}
.grande img{
    width: 30vw;
}
.divimggrande{
    /* border: 1px solid rgb(172, 171, 171, 0.8); */
    width: 30vw;
    margin-top: 5vh;
}
.bt1{
margin-top: 45vh;
    margin-right: 5vw;
    border-style: none;
    height: 10vh;
    background-color: transparent;
    transition: 0.2s;
}
.bt1:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.bt2{
   margin: 0 13vw;
   border-style: none;
   background-color: transparent;
   transition: 0.2s;
   cursor: pointer;
}
.bt2:hover{
    transform: scale(1.2);
}

.bt3{
    background-color: transparent;
    margin-top: 45vh;
    border-style: none;
    height: 10vh;
    margin-left: 5vw;
    transition: 0.2s;
    cursor: pointer;
}
.bt3:hover{
    transform: scale(1.2);
}
#nombredelaimg{
    text-align: center;
    margin-top: 5vh;
}