
*{
    margin: 0;
    padding:0;
}

.pequeñas{
    margin-top: 20px;
    padding: 0 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
img{
    border: 1px solid black;
    width: 150px;
    height: 200px;
    margin:20px 0;
}

.grande{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
    background-color: white;
}
.grande div{
    width: 30vw;
    height: 30vw;
}
.grande img{
    width: 30vw;
    height: 30vw;
    margin-top: 15vh;
}
.bt1{
margin-top: 45vh;
    margin-right: 5vw;
    border-style: none;
    height: 10vh;
    background-color: transparent;
    transition: 0.2s;
}
.bt1:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.bt2{
   margin: 0 15vw;
   border-style: none;
   background-color: transparent;
   transition: 0.2s;
   cursor: pointer;
}
.bt2:hover{
    transform: scale(1.2);
}

.bt3{
    background-color: transparent;
    margin-top: 45vh;
    border-style: none;
    height: 10vh;
    margin-left: 5vw;
    transition: 0.2s;
    cursor: pointer;
}
.bt3:hover{
    transform: scale(1.2);
}