
*{
    margin: 0;
    padding:0;
}

.pequeñas{
    margin-top: 20px;
    padding: 0 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: none; */
    
}
img{
    border: 1px solid black;
    width: 150px;
    height: 200px;
    margin:20px 0;
}

.grande{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
    background-color: white;
}
.grande div{
    width: 30vw;
    height: 30vw;
}
.grande img{
    width: 30vw;
    height: 30vw;
    margin-top: 15vh;
}
.bt1{
    margin-right: 5vw;
}
.bt2{
   margin: 0 15vw;
}

.bt3{
    margin-left: 5vw;
}